h1
{font-size: 60px;
color: yellow;
text-align: center;
/* min-width: 900px; */
background-color: blue;
HEIGHT:100px;
top: 0px;
/* left:0 px */
z-index: 1; 
}
body{
	background-color: aqua;
}
.image4 
{position: absolute; left: 0px; top: 8px;z-index: 2;        /* Créateur du train */
}

.image5{                    /* Première Locomotive */
    float: left;
    width: 150px;
}

